body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Это скроет горизонтальную прокрутку */
}

 /* Стили для всплывающего окна */
  /* Стили для всплывающего окна */
  #popup, #avtorskieprava {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    height: 70%; /* Фиксированная высота для прокрутки */
    overflow-y: auto; /* Прокрутка по вертикали при необходимости */
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  /* Стили для кнопки закрытия */
  .close {
    position: relative;
    margin-top: 0%;
    left: 85%;
    cursor: pointer;
    background-color: #4652ec;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
  }
  /* Стили для затемнения фона */
  #overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Черный цвет с непрозрачностью 50% */
    z-index: 999; /* Больше, чем у всплывающего окна */
  }

  #pravilasouz {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    height: 70%; /* Фиксированная высота для прокрутки */
    overflow-y: auto; /* Прокрутка по вертикали при необходимости */
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

.header {
    text-align: center;
}

.souzuslovia {
    color: #4652ec;
    font-weight: bold;
    text-align: center;
}

.dynamicImage{/*Фон*/
    max-width: 100%;
    max-height: 100%;
    position: relative;
    user-select: none;
}
.nad2{/*Команда Союз*/
    margin-top: 197%; 
    left: 47%; 
    transform: translate(-50%, -50%); 
    position: absolute;
    max-height: 210%;
    max-width: 210%;
    user-select: none;
}
.zag{/*Загрузка*/
    margin-top: 85%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    position: absolute;
    user-select: none;
    max-height: 60%;
    max-width: 80%;
    
}

.vhod{/*Загрузка*/
    margin-top: 110%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    position: absolute;
    user-select: none;
    max-height: 60%;
    max-width: 80%;
    
}

.avtorizasia{/*Загрузка*/
    margin-top: 3%; 
    left: 98%; 
    transform: translate(-50%, -50%);
    position: absolute;
    user-select: none;
    max-height: 13%;
    max-width: 5%;
    min-width: 5%;
}

.obnovlenia{/*Загрузка*/
    margin-top: 3%; 
    left: 18%; 
    transform: translate(-50%, -50%);
    position: absolute;
    user-select: none;
    max-height: 7%;
    max-width: 20%;
}

.podershka{/*Загрузка*/
    margin-top: 3.4%; 
    left: 41%; 
    transform: translate(-50%, -50%);
    position: absolute;
    user-select: none;
    max-height: 9%;
    max-width: 20%;
}

.contactii{/*Загрузка*/
    margin-top: 3.05%; 
    left: 63%; 
    transform: translate(-50%, -50%);
    position: absolute;
    user-select: none;
    max-height: 9%;
    max-width: 20%;
}

.voprosii{/*Загрузка*/
    margin-top: 3.3%; 
    left: 83%; 
    transform: translate(-50%, -50%);
    position: absolute;
    user-select: none;
    max-height: 9%;
    max-width: 20%;
}

.yt{/*юt*/
    margin-top: 751.8%; 
    left: 58%; 
    user-select: none;
    position: absolute;
    max-height: 50%;
    max-width: 50%;
}
.tg{/*tg*/
    margin-top: 752%; 
    left: 48%; 
    user-select: none;
    position: absolute;
    max-height: 50%;
    max-width: 50%;
}
.vk{/*вк*/
    margin-top: 752%;  
    user-select: none;
    left: 38%; 
    position: absolute;
    max-height: 50%;
    max-width: 50%;
}
.logo2{/*лого с надписью*/
    margin-top: 3%; 
    left: 7%; 
    user-select: none;
    transform: translate(-50%, -50%);
    position: absolute;
    max-height: 6%;
    max-width: 8.7%;
}
.logo1{/*лого без надписи*/
    margin-top: 275%; 
    user-select: none;
    left: 82%; 
    transform: translate(-50%, -50%);
    position: absolute;
    max-height: 4%;
    max-width: 2%;
}

.souzgod{/*лого без надписи*/
    margin-top: 766%; 
    user-select: none;
    left: 50%; 
    transform: translate(-50%, -50%);
    position: absolute;
    max-height: 50%;
    max-width: 50%;
}

.ispol{/*Используй.*/
    margin-top: 595%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    position: absolute;
    max-height: 140%;
    max-width: 140%; 
    user-select: none;
}

.golos{/*Используй.*/
    margin-top: 300%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    position: absolute;
    max-height: 300%;
    max-width: 300%; 
    user-select: none;
}

.server{/*Используй.*/
    margin-top: 405%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    position: absolute;
    max-height: 260%;
    max-width: 260%; 
    user-select: none;
}

.chat{/*Используй.*/
    margin-top: 515%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    position: absolute;
    max-height: 250%;
    max-width: 250%; 
    user-select: none;
}

.dryzui{/*В друзья.*/
    margin-top: 106%;  
    user-select: none;
    left: 50%; 
    transform: translate(-50%, -50%);  
    position: absolute;
    max-height: 4%;
    max-width: 20%;
}
.sozdavai{/*Создавай.*/
    margin-top: 109%;  
    left: 50%; 
    user-select: none;
    transform: translate(-50%, -50%); 
    position: absolute;
    max-height: 4%;
    max-width: 15%;
}
.strim{/*Стрим.*/
    margin-top: 112%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    position: absolute;
    user-select: none;
    max-height: 3%;
    max-width: 9%;
}
.virtyal{/*Виртуальный мир*/
    margin-top: 640%; 
    left: 50%; 
    transform: translate(-50%, -50%);  
    position: absolute;
    user-select: none;
    max-height: 100%;
    max-width: 100%;
}
.zag2{/*Фио загрузка*/
    margin-top: 660%;
    left: 50%; 
    transform: translate(-50%, -50%);
    position: absolute;
    user-select: none;
    max-height: 60%;
    max-width: 80%;
}

.help {
    margin-top: 690%;
    position: absolute;
    max-width: 50%;
    max-height: 100%;
    left: 15%;
}

.polity {
    margin-top: 718%;
    position: absolute;
    max-width: 50%;
    max-height: 100%;
    left: 15%;
}

.info {
    margin-top: 690%;
    position: absolute;
    max-width: 50%;
    max-height: 100%;
    left: 60%;
}

.voprosi {
    margin-top: 723%;
    position: absolute;
    max-width: 50%;
    max-height: 100%;
    left: 15%;
}

.contacti {
    margin-top: 728%;
    position: absolute;
    max-width: 50%;
    max-height: 100%;
    left: 15%;
}

.avtorskie {
    margin-top: 695%;
    position: absolute;
    max-width: 50%;
    max-height: 100%;
    left: 15%;
}

.pravila {
    margin-top: 700%;
    position: absolute;
    max-width: 50%;
    max-height: 100%;
    left: 15%;
}

.yslovia {
    margin-top: 705%;
    position: absolute;
    max-width: 50%;
    max-height: 100%;
    left: 15%;
}

.onas {
    margin-top: 695%;
    position: absolute;
    max-width: 50%;
    max-height: 100%;
    left: 60%;
}

.sotrudnik {
    margin-top: 700%;
    position: absolute;
    max-width: 50%;
    max-height: 100%;
    left: 60%;
}

.soob {
    margin-top: 705%;
    position: absolute;
    max-width: 50%;
    max-height: 100%;
    left: 60%;
}

