body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Это скроет горизонтальную прокрутку */
}

 /* Стили для всплывающего окна */
  /* Стили для всплывающего окна */
  #popup, #avtorskieprava {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    height: 70%; /* Фиксированная высота для прокрутки */
    overflow-y: auto; /* Прокрутка по вертикали при необходимости */
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  /* Стили для кнопки закрытия */
  .close {
    position: relative;
    margin-top: 0%;
    left: 85%;
    cursor: pointer;
    background-color: #4652ec;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
  }
  /* Стили для затемнения фона */
  #overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Черный цвет с непрозрачностью 50% */
    z-index: 999; /* Больше, чем у всплывающего окна */
  }

  #pravilasouz {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    height: 70%; /* Фиксированная высота для прокрутки */
    overflow-y: auto; /* Прокрутка по вертикали при необходимости */
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

.polzovatelnick {
    position: absolute;
    top: 2%;
    z-index: 1000;
    color: rgb(255, 255, 255);
    left: 93%;
    font-size: 2vw; /* Устанавливаем размер шрифта как 4% от ширины экрана */
    max-width: 5%;
    max-height: 5%;
}

.header {
    text-align: center;
}

.souzuslovia {
    color: #4652ec;
    font-weight: bold;
    text-align: center;
}

.dynamicImage{/*Фон*/
    max-width: 100%;
    max-height: 100%;
    position: relative;
    user-select: none;
}
.nad2{/*Команда Союз*/
    margin-top: 80%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    position: absolute;
    max-height: 36%;
    max-width: 89%;
    user-select: none;
}
.zag{/*Загрузка*/
    margin-top: 39%; 
    left: 31%; 
    transform: translate(-50%, -50%);
    position: absolute;
    user-select: none;
    max-height: 23%;
    max-width: 29%;
    
}

.avtorizasia{/*Загрузка*/
    margin-top: 3%; 
    left: 91.8%; 
    transform: translate(-50%, -50%);
    position: absolute;
    user-select: none;
    max-height: 13%;
    max-width: 16.5%;
    min-width: 16%;
}

.obnovlenia{/*Загрузка*/
    margin-top: 3%; 
    left: 31%; 
    transform: translate(-50%, -50%);
    position: absolute;
    user-select: none;
    max-height: 5%;
    max-width: 10%;
}

.podershka{/*Загрузка*/
    margin-top: 3.25%; 
    left: 45%; 
    transform: translate(-50%, -50%);
    position: absolute;
    user-select: none;
    max-height: 5%;
    max-width: 10%;
}

.contactii{/*Загрузка*/
    margin-top: 3.05%; 
    left: 58%; 
    transform: translate(-50%, -50%);
    position: absolute;
    user-select: none;
    max-height: 4%;
    max-width: 9%;
}

.voprosii{/*Загрузка*/
    margin-top: 3.25%; 
    left: 70%; 
    transform: translate(-50%, -50%);
    position: absolute;
    user-select: none;
    max-height: 5.5%;
    max-width: 9%;
}

.yt{/*юt*/
    margin-top: 274%; 
    left: 23.1%; 
    user-select: none;
    position: absolute;
    max-height: 3%;
    max-width: 3%;
}
.tg{/*tg*/
    margin-top: 274%; 
    left: 19%; 
    user-select: none;
    position: absolute;
    max-height: 3%;
    max-width: 2.3%;
}
.vk{/*вк*/
    margin-top: 274.1%;  
    user-select: none;
    left: 27.7%; 
    position: absolute;
    max-height: 3%;
    max-width: 3%;
}
.logo2{/*лого с надписью*/
    margin-top: 3%; 
    left: 7%; 
    user-select: none;
    transform: translate(-50%, -50%);
    position: absolute;
    max-height: 6%;
    max-width: 8.7%;
}
.logo1{/*лого без надписи*/
    margin-top: 275%; 
    user-select: none;
    left: 82%; 
    transform: translate(-50%, -50%);
    position: absolute;
    max-height: 4%;
    max-width: 2%;
}

.souzgod{/*лого без надписи*/
    margin-top: 275%; 
    user-select: none;
    left: 50%; 
    transform: translate(-50%, -50%);
    position: absolute;
    max-height: 10%;
    max-width: 10%;
}

.ispol{/*Используй.*/
    margin-top: 225%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    position: absolute;
    max-height: 100%;
    max-width: 100%; 
    user-select: none;
}

.golos{/*Используй.*/
    margin-top: 115%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    position: absolute;
    max-height: 100%;
    max-width: 90%; 
    user-select: none;
}

.server{/*Используй.*/
    margin-top: 154%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    position: absolute;
    max-height: 100%;
    max-width: 90%; 
    user-select: none;
}

.chat{/*Используй.*/
    margin-top: 196%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    position: absolute;
    max-height: 100%;
    max-width: 90%; 
    user-select: none;
}

.dryzui{/*В друзья.*/
    margin-top: 106%;  
    user-select: none;
    left: 50%; 
    transform: translate(-50%, -50%);  
    position: absolute;
    max-height: 4%;
    max-width: 20%;
}
.sozdavai{/*Создавай.*/
    margin-top: 109%;  
    left: 50%; 
    user-select: none;
    transform: translate(-50%, -50%); 
    position: absolute;
    max-height: 4%;
    max-width: 15%;
}
.strim{/*Стрим.*/
    margin-top: 112%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    position: absolute;
    user-select: none;
    max-height: 3%;
    max-width: 9%;
}
.virtyal{/*Виртуальный мир*/
    margin-top: 238%; 
    left: 50%; 
    transform: translate(-50%, -50%);  
    position: absolute;
    user-select: none;
    max-height: 30%;
    max-width: 60%;
}
.zag2{/*Фио загрузка*/
    margin-top: 243%;
    left: 50%; 
    transform: translate(-50%, -50%);  
    position: absolute;
    user-select: none;
    max-height: 15%;
    max-width: 20%;
}

.help {
    margin-top: 251%;
    position: absolute;
    max-width: 8%;
    max-height: 100%;
    left: 23%;
}

.polity {
    margin-top: 251%;
    position: absolute;
    max-width: 7%;
    max-height: 100%;
    left: 45%;
}

.info {
    margin-top: 251%;
    position: absolute;
    max-width: 10%;
    max-height: 100%;
    left: 66%;
}

.voprosi {
    margin-top: 255%;
    position: absolute;
    max-width: 5%;
    max-height: 100%;
    left: 23%;
}

.contacti {
    margin-top: 257%;
    position: absolute;
    max-width: 5%;
    max-height: 100%;
    left: 23%;
}

.avtorskie {
    margin-top: 255%;
    position: absolute;
    max-width: 10%;
    max-height: 100%;
    left: 45%;
}

.pravila {
    margin-top: 257%;
    position: absolute;
    max-width: 5%;
    max-height: 100%;
    left: 45%;
}

.yslovia {
    margin-top: 259%;
    position: absolute;
    max-width: 9%;
    max-height: 100%;
    left: 45%;
}

.onas {
    margin-top: 255%;
    position: absolute;
    max-width: 3.7%;
    max-height: 100%;
    left: 66%;
}

.sotrudnik {
    margin-top: 257%;
    position: absolute;
    max-width: 9%;
    max-height: 100%;
    left: 66%;
}

.soob {
    margin-top: 259%;
    position: absolute;
    max-width: 7%;
    max-height: 100%;
    left: 66%;
}

